html,
body {
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
}

.pagination {
  position: absolute;
  bottom: 0;
}

.btns-row {
  position: absolute;
  bottom: 0;
}

.btns-row a {
  margin: 5px;
}

.user-details {
  width: 400px;
}

a {
  cursor: pointer;
}
